body {
    font-family: 'Noto Sans JP';font-size:50px;
    background-color: #414243;
    background-image: url("https://www.wallpapertip.com/wmimgs/14-144207_flat-design-landscape-sunset.jpg");
    background-attachment: fixed;
    background-size: 100%;
}
